 
 <section id="banner"  class="clearfix" *ngIf="movie" [style.background-image]=" 'url(http://image.tmdb.org/t/p/w500/' + movie.backdrop_path + ')'">
 <div id="blueBg" class="clearfix">      
 <div class="bg-banner clearfix"  ></div>
        <div id="banner_content_wrapper" >
            <div id="poster">
                <img src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="Avatar Movie Poster" class="featured_image">

            </div>
            <div id="content">
                <h2 class="title">{{movie.title}}</h2>
                <div class="ratings">
                   <p>Popularity: {{movie.popularity}}</p>
                   <p>Release Date: {{movie.release_date}}</p>
                </div>
                
                <p class="description">{{movie.overview}}</p>
                <div class="links"> 
                    <a href="{{movie.homepage}}" *ngIf="movie.homepage" target="_blank" >Visit Movie Website</a>
                    <br>
                    <a href="http://imdb.com/title/{{movie.imdb_id}}" target="_blank">IMDb</a>
                    <br>
                </div>
                <div id="anchorTrailers" style="visibility: hidden"></div>             
                <a (click)="openTrailers()" class="button" id="viewTrailersButton" pageScroll  href="#anchorTrailers">View Trailers</a>
            
        </div>
        </div>
    </div>
    </section>
    <section id="trailer-section" [@trailerPanel]="state">
           <div class="trailerWrapper" [@trailersItself]="state" >
                <iframe width="420" height="315" *ngIf='key' 
                    [src]="url">
                </iframe>
                <iframe width="420" height="315" *ngIf='key2' 
                    [src]="url2">
                </iframe>
            
            </div>

            
    </section>
   
    